@model IEnumerable<Stunning.Model.Funcionarios>

@{
    ViewData["Title"] = "List";
}

<h1>Funcionarios</h1>

@Html.Partial("_PartialFiltros.cshtml")

<div class=col-md-12>

    <form id="form-list-client">
        <legend>Lista de funcionarios</legend>

        <div class="pull-right">
            <a class="btn btn-default-btn-xs btn-primary" href="@Url.Action("Index","Funcionario")"><i class="glyphicon glyphicon-refresh"></i> Atualizar</a>
            @*@Html.ActionLink("Criar Funcionario", "Create", "Funcionario", new { @class = "btn btn-default-btn-xs btn-success" })*@
            <a class="btn btn-default-btn-xs btn-success" href="@Url.Action("Create","Funcionario")"><i class="glyphicon glyphicon-plus"></i> Criar Novo Funcionario</a>
        </div>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cargo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UfNasc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Salario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>Acao</th>
                </tr>

            </thead>
            <tbody id="form-list-client-body">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UfNasc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Salario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", "Funcionario", new { id = item.IdFuncionario }) |
                            @Html.ActionLink("Deletar", "Delete", "Funcionario", new { id = item.IdFuncionario }) |
                            @Html.ActionLink("Visualizar", "Details", "Funcionario", new { id = item.IdFuncionario }) 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</div>
